/*Reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Clearfix*/
.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

/*Generici*/
body{
    font-family: Arial,  sans-serif, Verdana;
}
.container{
    max-width: 1300px;
    margin: 0px auto;
    background-color: hsl(195, 95%, 8%);
}
/*header*/
h1{
    font-size: 50px;
    font-family: 'Nerko One', cursive;
    text-align: center;
    color: white;
    padding-top: 20px;
    padding-bottom: 25px;
    
}
/*posizionamento carte*/
.row{
    margin-bottom: 20px;
}

.col{
    float: left;
    width: calc(100% / 4);
}

.product{
    height: 300px;
    background-image: url(../img/pattern.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 20px 10px;
    width: calc(100% / 4) - 20px);
}


.bicycle:hover{
    background-image: url(../img/noun_Bicycle_3134821.png);
    background-color: rgba(0,0,0, 0.3);
}

.tram:hover{
    background-image: url(../img/noun_Tram_3134750.png);
    background-color: rgba(0,0,0, 0.3);
}

.cruise:hover{
    background-image: url(../img/noun_Cruise_Ship_3134824.png);
    background-color: rgba(0,0,0, 0.3);
}

.submarine:hover{
    background-image: url(../img/noun_Submarine_3134738.png);
    background-color: rgba(0,0,0, 0.3);
}
